In [1]:
import pandas as pd

In [5]:
towns_df = pd.read_excel('data/Amtliches_Gemeindeverzeichnis.xls', sheetname='Gemeindeliste-Liste d. communes')
towns_df.shape

In [13]:
df = pd.read_csv('data/final_dataset_totals.csv')
df.shape

In [25]:
df_test = df.merge(towns_df, how='outer', left_on='Gemeinde', right_on='GDENAME')
print("Merged DF shape (including rows which weren't merged)", df_test.shape)

print('Could not be merged - part I')
df_test[df_test['Gemeinde'] != df_test['Gemeinde']][['GDENAME']]

(2330, 41)
Could not be merged - part I

                GDENAME
2324      Belmont-Broye
2325            Gibloux
2326         Mont-Vully
2327             Surses
2328  Obersaxen Mundaun
2329     Jorat-Mézières

In [26]:
print('Could not be merged - part II')
df_test[df_test['GDENAME'] != df_test['GDENAME']][['Gemeinde']]

Could not be merged - part II

                 Gemeinde
119                Kyburg
260             Bangerten
302             Hermiswil
333            Niederösch
335              Oberösch
696             Domdidier
697        Dompierre (FR)
701             Léchelles
710                 Russy
765              Autafond
772   Corpataux-Magnedens
776              Farvagny
790          Rossens (FR)
791              Le Glèbe
796   Vuisternens-en-Ogoz
802             Courlevon
810                 Jeuss
813              Lurtigen
819             Salvenach
822             Bas-Vully
823            Haut-Vully
1186                Bivio
1187               Cunter
1188            Marmorera
1189              Mulegns
1190         Riom-Parsonz
1191               Salouf
1192             Savognin
1193                  Sur
1194        Tinizong-Rona
1281                 Saas
1283         St. Antönien
1293            Obersaxen
1295              Mundaun
1628               Sobrio
1636               Gresso
1642              Mosogno
1648           Vergeletto
1651               Isorno
1770        Carrouge (VD)
1915         Ferlens (VD)
1917        Mézières (VD)
2187         Brot-Dessous

# Ok, let's merge this

In [30]:
df_merge = df.merge(towns_df, how='inner', left_on='Gemeinde', right_on='GDENAME')
df_merge = df_merge[['GDENR', 'Gemeinde', 'Ledige Männer Total +/-', 'Ledige Frauen Total +/-',
       'Ledige20-24 JahreFrauen Total+/-', 'Ledige20-24 JahreMänner Total+/-',
       'Ledige25-29 JahreFrauen Total+/-', 'Ledige25-29 JahreMänner Total+/-',
       'Ledige30-34 JahreFrauen Total+/-', 'Ledige30-34 JahreMänner Total+/-',
       'Ledige35-39 JahreFrauen Total+/-', 'Ledige35-39 JahreMänner Total+/-',
       'Ledige40-44 JahreFrauen Total+/-', 'Ledige40-44 JahreMänner Total+/-',
       'Ledige45-49 JahreFrauen Total+/-', 'Ledige45-49 JahreMänner Total+/-',
       'Ledige50-54 JahreFrauen Total+/-', 'Ledige50-54 JahreMänner Total+/-',
       'Ledige55-59 JahreFrauen Total+/-', 'Ledige55-59 JahreMänner Total+/-',
       'Ledige60-64 JahreFrauen Total+/-', 'Ledige60-64 JahreMänner Total+/-',
       'Ledige65-69 JahreFrauen Total+/-', 'Ledige65-69 JahreMänner Total+/-',
       'Ledige70-74 JahreFrauen Total+/-', 'Ledige70-74 JahreMänner Total+/-',
       'Ledige75-79 JahreFrauen Total+/-', 'Ledige75-79 JahreMänner Total+/-',
       'Ledige80-84 JahreFrauen Total+/-', 'Ledige80-84 JahreMänner Total+/-',
       'Ledige85-89 JahreFrauen Total+/-', 'Ledige85-89 JahreMänner Total+/-',
       'Ledige90-94 JahreFrauen Total+/-', 'Ledige90-94 JahreMänner Total+/-']]
df_merge.head(2)

,GDENR,Gemeinde,Ledige Männer Total +/-,Ledige Frauen Total +/-,Ledige20-24 JahreFrauen Total+/-,Ledige20-24 JahreMänner Total+/-,Ledige25-29 JahreFrauen Total+/-,Ledige25-29 JahreMänner Total+/-,Ledige30-34 JahreFrauen Total+/-,Ledige30-34 JahreMänner Total+/-,...,Ledige70-74 JahreFrauen Total+/-,Ledige70-74 JahreMänner Total+/-,Ledige75-79 JahreFrauen Total+/-,Ledige75-79 JahreMänner Total+/-,Ledige80-84 JahreFrauen Total+/-,Ledige80-84 JahreMänner Total+/-,Ledige85-89 JahreFrauen Total+/-,Ledige85-89 JahreMänner Total+/-,Ledige90-94 JahreFrauen Total+/-,Ledige90-94 JahreMänner Total+/-
0,1,Aeugst am Albis,-27,27,-11,11,-8,8,-3,3,...,9,-9,5,-5,16,-16,15,-15,4,-4
1,2,Affoltern am Albis,-111,111,-82,82,-71,71,-67,67,...,60,-60,80,-80,86,-86,56,-56,30,-30

In [31]:
df_merge.to_csv('data/final_dataset_totals_id.csv', index=False)