In [371]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
import dateutil.parser
import re

# Wo leben am meisten überschüssige Ledige?

In [337]:
df_m = pd.read_csv('data/ledige_männer_2015.csv')
df_w = pd.read_csv('data/ledige_frauen_2015.csv')

In [338]:
df = df_w.merge(df_m, left_on='Gemeinde', right_on='Gemeinde')

# Total

In [339]:
df['Ledige Männer Total +/-'] = df['Total ledige Männer ab 20'] - df['Total ledige Frauen ab 20']

In [340]:
df[['Gemeinde', 'Ledige Männer Total +/-']].sort_values(by='Ledige Männer Total +/-', ascending=False).head()

                  Gemeinde  Ledige Männer Total +/-
631  ......1322 Freienbach                      627
53      ......0066 Opfikon                      507
630  ......1321 Feusisberg                      326
685       ......1707 Risch                      324
632    ......1323 Wollerau                      279

In [341]:
df['Ledige Frauen Total +/-'] = df['Total ledige Frauen ab 20'] - df['Total ledige Männer ab 20']

In [342]:
df[['Gemeinde', 'Ledige Frauen Total +/-']].sort_values(by='Ledige Frauen Total +/-', ascending=False).head()

                 Gemeinde  Ledige Frauen Total +/-
2242    ......6621 Genève                     9576
962      ......2701 Basel                     6766
168     ......0261 Zürich                     6127
361       ......0351 Bern                     5998
1900  ......5586 Lausanne                     5804

# Datensammlung mit allen Überschüssen M/W pro Alterskategorie

In [343]:
del df['Unnamed: 0_x']
del df['Unnamed: 0_y']
del df['Geschlecht_x']
del df['Geschlecht_y']

In [344]:
age_cat_all = list(df.columns)
age_cat_w = age_cat_all[4:33]
age_cat_w = age_cat_w[::2]

In [345]:
age_cat_m = list(df.columns)
age_cat_m = age_cat_m[41:73][::2]

In [346]:
for age_w, age_m in zip(age_cat_w, age_cat_m):
    df[age_w +'+/-'] = df[age_w] - df[age_m]
    df[age_m +'+/-'] = df[age_m] - df[age_w]

# Ledige Frauen 60 - 64

In [347]:
df[['Gemeinde', 'Ledige60-64 JahreFrauen Total+/-']].sort_values(by='Ledige60-64 JahreFrauen Total+/-', ascending=False).head()

                 Gemeinde  Ledige60-64 JahreFrauen Total+/-
168     ......0261 Zürich                              1420
2242    ......6621 Genève                              1023
1900  ......5586 Lausanne                               633
361       ......0351 Bern                               612
962      ......2701 Basel                               467

# Ledige Frauen 20 - 24

In [348]:
df[['Gemeinde', 'Ledige20-24 JahreFrauen Total+/-']].sort_values(by='Ledige20-24 JahreFrauen Total+/-', ascending=False).head()

                 Gemeinde  Ledige20-24 JahreFrauen Total+/-
1739    ......5407 Leysin                               301
361       ......0351 Bern                               283
2242    ......6621 Genève                               276
1699   ......5225 Sorengo                               127
2046  ......5886 Montreux                               106

# Ledige Frauen 40-44

In [349]:
df[['Gemeinde', 'Ledige40-44 JahreFrauen Total+/-']].sort_values(by='Ledige40-44 JahreFrauen Total+/-', ascending=False).head()

                         Gemeinde  Ledige40-44 JahreFrauen Total+/-
2048  ......5889 La Tour-de-Peilz                                67
2249             ......6628 Lancy                                58
1905             ......5590 Pully                                46
113     ......0159 Uetikon am See                                34
967          ......2763 Arlesheim                                33

# Ledige Männer Total

In [350]:
df[['Gemeinde', 'Ledige Männer Total +/-']].sort_values(by='Ledige Männer Total +/-', ascending=False).head()

                  Gemeinde  Ledige Männer Total +/-
631  ......1322 Freienbach                      627
53      ......0066 Opfikon                      507
630  ......1321 Feusisberg                      326
685       ......1707 Risch                      324
632    ......1323 Wollerau                      279

# Ledige Frauen Total

In [351]:
df[['Gemeinde', 'Ledige Frauen Total +/-']].sort_values(by='Ledige Frauen Total +/-', ascending=False).head()

                 Gemeinde  Ledige Frauen Total +/-
2242    ......6621 Genève                     9576
962      ......2701 Basel                     6766
168     ......0261 Zürich                     6127
361       ......0351 Bern                     5998
1900  ......5586 Lausanne                     5804

# Women/Men +/- per 100

In [352]:
#number of women and men plus/minus by 100
df_all = pd.read_csv('data/2015_TOTAL_bis100.csv', encoding='latin', sep='\t', skiprows=1)
df_all_2 = pd.read_csv('data/2015_TOTAL_100+.csv', encoding='latin', sep='\t', skiprows=1)

In [353]:
del df_all_2['Kanton (-) / Bezirk (>>) / Gemeinde (......)']

In [354]:
df_all = pd.concat([df_all, df_all_2], axis=1, join='inner')

In [355]:
del df_all['Bevölkerungstyp']
del df_all['Geschlecht']
del df_all['Zivilstand']
del df_all['Jahr']

In [356]:
df_pro1000 = df_plusminus.merge(df_all, left_on='Gemeinde', right_on='Kanton (-) / Bezirk (>>) / Gemeinde (......)')

In [357]:
#List of total population
gemeinde_bev_total = list(df_pro1000.columns[34:])
gemeinde_ledige_frauen_total = list(df_pro1000.columns[3:33][::2])
gemeinde_ledige_frauen_total.insert(0, 'Ledige Frauen Total +/-')

In [358]:
gemeinde_ledige_männer_total = list(df_pro1000.columns[4:34][::2])
Männer_total = df_pro1000.columns[2:3]
gemeinde_ledige_männer_total.insert(0, 'Ledige Männer Total +/-')

In [359]:
df_pro1000['Ledige Männer total pro 100'] = round(df_pro1000['Ledige Männer Total +/-'] / df_pro1000['Altersklasse - Total'] * 100, 1)

In [360]:
for value in gemeinde_ledige_frauen_total:
    value_name = value.replace('Ledige', '').replace('Total', '').replace('Jahre', ' jährige')
    df_pro1000[value_name + ' pro 100'] = round(df_pro1000[value] / df_pro1000['Altersklasse - Total'] * 100, 1)

In [361]:
for value in gemeinde_ledige_männer_total:
    value_name = value.replace('Ledige', '').replace('Total', '').replace('Jahre', ' jährige')
    df_pro1000[value_name + ' pro 100'] = round(df_pro1000[value] / df_pro1000['Altersklasse - Total'] * 100, 1)

In [362]:
df_pro1000[['Gemeinde', '20-24  jährigeFrauen +/- pro 100']].sort_values(by='20-24  jährigeFrauen +/- pro 100', ascending=False).head()

                  Gemeinde  20-24  jährigeFrauen +/- pro 100
199    ......0708 Schelten                               7.9
1739     ......5407 Leysin                               7.1
1217  ......3707 Lohn (GR)                               7.0
1699    ......5225 Sorengo                               6.5
1888   ......5930 Suscévaz                               4.0

[['Gemeinde', 'Ledige Männer total pro 100']].sort_values(by='Ledige Männer total pro 100', ascending=False).head(5)

## All the columns

In [363]:
df.to_csv('All Columns.csv', index=False)

In [ ]:
df.to_csv[df.to_csv['Gemeinde']== ]

## The absolute number of single men and women

In [389]:
df_plusminus = pd.concat([pd.DataFrame(df['Gemeinde']), df[list(df.columns[75:])]], axis=1, join='inner')

In [394]:
def prepping_gemeinde(x):
    return x[11:]

In [395]:
df_plusminus['Gemeinde'] = df_plusminus['Gemeinde'].apply(prepping_gemeinde)

In [396]:
df_plusminus.to_csv('final_dataset_totals.csv', index=False)

## Men/Women +/- per 100 inhabitants

In [397]:
#Pulling out relevant columns
final_dataset = pd.concat([pd.DataFrame(df_pro1000.loc[:, 'Gemeinde']), df_pro1000.loc[:, ' Frauen  +/- pro 100':]], axis=1, join='inner')

In [398]:
final_dataset['Gemeinde'] = final_dataset['Gemeinde'].apply(prepping_gemeinde)

In [399]:
final_dataset.to_csv('final_dataset_per100.csv', index=False)