# Ledige Schweizer

In [483]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
import dateutil.parser

# Feeding in the data for ledige Frauen

In [484]:
#Total and 20-39
df_W_39 = pd.read_csv('data/2015_W_TOTAL_20bis39.csv', encoding='latin', sep='\t', skiprows=1)
#40-64
df_W_64 = pd.read_csv('data/2015_W_TOTAL_40bis64.csv', encoding='latin', sep='\t', skiprows=1)
#65-89
df_W_89 = pd.read_csv('data/2015_W_TOTAL_65bis89.csv', encoding='latin', sep='\t', skiprows=1)
#90-100+
df_W_100 = pd.read_csv('data/2015_W_TOTAL_90bis100+.csv', encoding='latin', sep='\t', skiprows=1)

In [485]:
#Deleting the columns I don' need
del df_W_64['Kanton (-) / Bezirk (>>) / Gemeinde (......)']
del df_W_64['Bevölkerungstyp']
del df_W_64['Geschlecht']
del df_W_64['Zivilstand']
del df_W_64['Jahr']

In [486]:
del df_W_89['Kanton (-) / Bezirk (>>) / Gemeinde (......)']
del df_W_89['Bevölkerungstyp']
del df_W_89['Geschlecht']
del df_W_89['Zivilstand']
del df_W_89['Jahr']

In [487]:
df_W_100.head()
del df_W_100['Kanton (-) / Bezirk (>>) / Gemeinde (......)']
del df_W_100['Bevölkerungstyp']
del df_W_100['Geschlecht']
del df_W_100['Zivilstand']
del df_W_100['Jahr']

In [488]:
df = pd.concat([df_W_39, df_W_64, df_W_89, df_W_100], axis=1, join='inner')

In [489]:
df

,Jahr,Kanton (-) / Bezirk (>>) / Gemeinde (......),Bevölkerungstyp,Geschlecht,Zivilstand,Altersklasse - Total,20-24 Jahre,25-29 Jahre,30-34 Jahre,35-39 Jahre,...,55-59 Jahre,60-64 Jahre,65-69 Jahre,70-74 Jahre,75-79 Jahre,80-84 Jahre,85-89 Jahre,90-94 Jahre,95-99 Jahre,100 Jahre und mehr
0,2015,......0001 Aeugst am Albis,Ständige Wohnbevölkerung,Frau,Zivilstand - Total,994,45,33,51,66,...,104,57,49,54,19,24,20,5,0,0
1,2015,......0001 Aeugst am Albis,Ständige Wohnbevölkerung,Frau,Ledig,402,44,25,23,23,...,19,8,2,2,3,0,1,0,0,0
2,2015,......0001 Aeugst am Albis,Ständige Wohnbevölkerung,Frau,"Verwitwet, durch Tod aufgelöste Partnerschaft",59,0,0,1,0,...,4,1,2,6,5,17,16,4,0,0
3,2015,......0001 Aeugst am Albis,Ständige Wohnbevölkerung,Frau,"Geschieden, unverheiratet, gerichtlich aufgelö...",89,0,0,0,0,...,20,11,10,9,1,3,1,0,0,0
4,2015,......0002 Affoltern am Albis,Ständige Wohnbevölkerung,Frau,Zivilstand - Total,5890,379,418,413,373,...,379,344,302,292,231,166,102,42,8,1
5,2015,......0002 Affoltern am Albis,Ständige Wohnbevölkerung,Frau,Ledig,2279,311,257,149,107,...,36,30,19,14,13,14,6,3,0,0
6,2015,......0002 Affoltern am Albis,Ständige Wohnbevölkerung,Frau,"Verwitwet, durch Tod aufgelöste Partnerschaft",437,0,0,0,2,...,15,25,48,55,82,75,69,34,8,1
7,2015,......0002 Affoltern am Albis,Ständige Wohnbevölkerung,Frau,"Geschieden, unverheiratet, gerichtlich aufgelö...",614,2,12,16,32,...,93,71,57,44,27,15,3,1,0,0
8,2015,......0003 Bonstetten,Ständige Wohnbevölkerung,Frau,Zivilstand - Total,2712,128,140,183,215,...,166,162,145,111,76,37,29,8,3,0
9,2015,......0003 Bonstetten,Ständige Wohnbevölkerung,Frau,Ledig,1140,122,104,86,52,...,15,15,9,8,4,0,1,0,0,0
10,2015,......0003 Bonstetten,Ständige Wohnbevölkerung,Frau,"Verwitwet, durch Tod aufgelöste Partnerschaft",128,0,0,0,0,...,8,12,15,15,24,19,13,7,3,0
11,2015,......0003 Bonstetten,Ständige Wohnbevölkerung,Frau,"Geschieden, unverheiratet, gerichtlich aufgelö...",220,0,2,7,6,...,29,26,20,15,8,4,1,1,0,0
12,2015,......0004 Hausen am Albis,Ständige Wohnbevölkerung,Frau,Zivilstand - Total,1790,77,74,107,117,...,140,112,114,76,62,39,14,7,1,0
13,2015,......0004 Hausen am Albis,Ständige Wohnbevölkerung,Frau,Ledig,703,74,59,48,34,...,12,10,3,3,1,2,1,0,0,0
14,2015,......0004 Hausen am Albis,Ständige Wohnbevölkerung,Frau,"Verwitwet, durch Tod aufgelöste Partnerschaft",111,0,0,0,1,...,3,9,17,12,28,17,11,5,1,0
15,2015,......0004 Hausen am Albis,Ständige Wohnbevölkerung,Frau,"Geschieden, unverheiratet, gerichtlich aufgelö...",183,0,1,6,8,...,31,29,17,9,7,2,1,1,0,0
16,2015,......0005 Hedingen,Ständige Wohnbevölkerung,Frau,Zivilstand - Total,1816,110,92,92,111,...,145,102,101,64,41,38,17,5,3,0
17,2015,......0005 Hedingen,Ständige Wohnbevölkerung,Frau,Ledig,735,102,70,33,24,...,10,8,9,4,1,2,0,0,0,0
18,2015,......0005 Hedingen,Ständige Wohnbevölkerung,Frau,"Verwitwet, durch Tod aufgelöste Partnerschaft",77,0,0,0,0,...,5,4,3,7,10,21,14,4,3,0
19,2015,......0005 Hedingen,Ständige Wohnbevölkerung,Frau,"Geschieden, unverheiratet, gerichtlich aufgelö...",168,0,0,2,5,...,29,18,24,8,4,0,2,0,0,0
20,2015,......0006 Kappel am Albis,Ständige Wohnbevölkerung,Frau,Zivilstand - Total,521,17,24,21,49,...,31,31,20,23,14,9,5,2,1,0
21,2015,......0006 Kappel am Albis,Ständige Wohnbevölkerung,Frau,Ledig,219,16,20,9,8,...,7,2,1,1,1,1,0,0,0,0
22,2015,......0006 Kappel am Albis,Ständige Wohnbevölkerung,Frau,"Verwitwet, durch Tod aufgelöste Partnerschaft",29,0,0,0,0,...,1,4,2,5,4,5,4,2,1,0
23,2015,......0006 Kappel am Albis,Ständige Wohnbevölkerung,Frau,"Geschieden, unverheiratet, gerichtlich aufgelö...",43,0,0,0,3,...,4,2,1,5,1,0,0,0,0,0
24,2015,......0007 Knonau,Ständige Wohnbevölkerung,Frau,Zivilstand - Total,1034,60,43,48,83,...,79,56,57,42,22,16,14,10,0,0
25,2015,......0007 Knonau,Ständige Wohnbevölkerung,Frau,Ledig,400,58,32,16,14,...,7,3,4,0,0,2,1,1,0,0
26,2015,......0007 Knonau,Ständige Wohnbevölkerung,Frau,"Verwitwet, durch Tod aufgelöste Partnerschaft",54,0,0,0,0,...,3,4,7,5,5,6,11,9,0,0
27,2015,......0007 Knonau,Ständige Wohnbevölkerung,Frau,"Geschieden, unverheiratet, gerichtlich aufgelö...",98,0,0,1,3,...,11,17,14,5,2,0,0,0,0,0
28,2015,......0008 Maschwanden,Ständige Wohnbevölkerung,Frau,Zivilstand - Total,308,19,14,21,26,...,19,10,19,12,4,12,6,0,0,0
29,2015,......0008 Maschwanden,Ständige Wohnbevölkerung,Frau,Ledig,132,16,8,5,8,...,3,1,3,1,0,0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9266,2015,......6793 Lugnez,Ständige Wohnbevölkerung,Frau,"Verwitwet, durch Tod aufgelöste Partnerschaft",13,0,0,0,0,...,0,2,0,1,2,5,1,0,0,1
9267,2015,......6793 Lugnez,Ständige Wohnbevölkerung,Frau,"Geschieden, unverheiratet, gerichtlich aufgelö...",5,0,0,0,0,...,2,1,0,0,0,0,0,0,0,0
9268,2015,......6800 Porrentruy,Ständige Wohnbevölkerung,Frau,Zivilstand - Total,3491,221,226,166,172,...,245,199,218,198,169,138,98,57,17,3
9269,2015,......6800 Porrentruy,Ständige Wohnbevölkerung,Frau,Ledig,1338,214,163,64,50,...,34,17,23,15,4,9,10,5,4,1
9270,2015,......6800 Porrentruy,Ständige Wohnbevölkerung,Frau,"Verwitwet, durch Tod aufgelöste Partnerschaft",391,0,0,1,0,...,12,17,40,49,58,69,62,40,13,2
9271,2015,......6800 Porrentruy,Ständige Wohnbevölkerung,Frau,"Geschieden, unverheiratet, gerichtlich aufgelö...",434,0,4,10,17,...,59,47,41,38,21,18,7,4,0,0
9272,2015,......6803 Rocourt,Ständige Wohnbevölkerung,Frau,Zivilstand - Total,78,2,1,3,6,...,9,6,7,3,4,4,0,2,0,0
9273,2015,......6803 Rocourt,Ständige Wohnbevölkerung,Frau,Ledig,27,2,1,1,1,...,1,0,0,1,0,0,0,0,0,0
9274,2015,......6803 Rocourt,Ständige Wohnbevölkerung,Frau,"Verwitwet, durch Tod aufgelöste Partnerschaft",6,0,0,0,0,...,1,0,0,0,2,0,0,2,0,0
9275,2015,......6803 Rocourt,Ständige Wohnbevölkerung,Frau,"Geschieden, unverheiratet, gerichtlich aufgelö...",4,0,0,0,0,...,1,0,1,0,0,1,0,0,0,0
9276,2015,......6806 Vendlincourt,Ständige Wohnbevölkerung,Frau,Zivilstand - Total,276,16,17,12,7,...,24,18,17,13,15,10,8,3,0,0
9277,2015,......6806 Vendlincourt,Ständige Wohnbevölkerung,Frau,Ledig,96,16,7,7,1,...,5,1,0,1,0,0,1,0,0,0
9278,2015,......6806 Vendlincourt,Ständige Wohnbevölkerung,Frau,"Verwitwet, durch Tod aufgelöste Partnerschaft",35,0,0,0,0,...,2,1,4,2,9,7,6,3,0,0
9279,2015,......6806 Vendlincourt,Ständige Wohnbevölkerung,Frau,"Geschieden, unverheiratet, gerichtlich aufgelö...",22,0,0,2,0,...,4,2,2,1,0,0,1,0,0,0
9280,2015,......6807 Basse-Allaine,Ständige Wohnbevölkerung,Frau,Zivilstand - Total,637,34,32,21,44,...,38,54,39,38,27,25,22,6,0,1
9281,2015,......6807 Basse-Allaine,Ständige Wohnbevölkerung,Frau,Ledig,231,32,21,8,6,...,1,3,2,5,1,2,2,0,0,0
9282,2015,......6807 Basse-Allaine,Ständige Wohnbevölkerung,Frau,"Verwitwet, durch Tod aufgelöste Partnerschaft",84,0,0,0,1,...,6,6,9,9,12,14,18,6,0,1
9283,2015,......6807 Basse-Allaine,Ständige Wohnbevölkerung,Frau,"Geschieden, unverheiratet, gerichtlich aufgelö...",46,0,0,1,2,...,5,11,10,0,0,0,0,0,0,0
9284,2015,......6808 Clos du Doubs,Ständige Wohnbevölkerung,Frau,Zivilstand - Total,655,39,32,31,33,...,58,37,49,36,29,28,18,13,3,0
9285,2015,......6808 Clos du Doubs,Ständige Wohnbevölkerung,Frau,Ledig,247,38,18,10,10,...,5,3,5,2,3,4,0,2,0,0
9286,2015,......6808 Clos du Doubs,Ständige Wohnbevölkerung,Frau,"Verwitwet, durch Tod aufgelöste Partnerschaft",74,0,0,0,0,...,3,2,6,10,15,12,14,9,3,0
9287,2015,......6808 Clos du Doubs,Ständige Wohnbevölkerung,Frau,"Geschieden, unverheiratet, gerichtlich aufgelö...",56,0,0,2,6,...,13,6,9,2,0,2,0,0,0,0
9288,2015,......6809 Haute-Ajoie,Ständige Wohnbevölkerung,Frau,Zivilstand - Total,466,26,16,21,27,...,45,39,29,19,24,20,15,5,1,0
9289,2015,......6809 Haute-Ajoie,Ständige Wohnbevölkerung,Frau,Ledig,167,26,12,7,7,...,3,2,3,3,2,1,0,1,0,0
9290,2015,......6809 Haute-Ajoie,Ständige Wohnbevölkerung,Frau,"Verwitwet, durch Tod aufgelöste Partnerschaft",52,0,0,0,0,...,2,4,3,4,8,15,9,4,1,0
9291,2015,......6809 Haute-Ajoie,Ständige Wohnbevölkerung,Frau,"Geschieden, unverheiratet, gerichtlich aufgelö...",35,0,0,1,1,...,9,5,2,2,1,1,1,0,0,0
9292,2015,......6810 La Baroche,Ständige Wohnbevölkerung,Frau,Zivilstand - Total,595,27,22,27,39,...,38,39,50,39,21,17,4,6,3,0
9293,2015,......6810 La Baroche,Ständige Wohnbevölkerung,Frau,Ledig,223,27,14,11,8,...,4,2,2,5,2,0,0,0,0,0
9294,2015,......6810 La Baroche,Ständige Wohnbevölkerung,Frau,"Verwitwet, durch Tod aufgelöste Partnerschaft",62,0,0,0,0,...,6,4,11,8,6,12,3,5,2,0
9295,2015,......6810 La Baroche,Ständige Wohnbevölkerung,Frau,"Geschieden, unverheiratet, gerichtlich aufgelö...",52,0,0,1,3,...,7,8,10,3,1,1,0,0,1,0

In [490]:
#Creating DF for total
df_total_2015 = df[['Kanton (-) / Bezirk (>>) / Gemeinde (......)', 'Geschlecht', 'Altersklasse - Total']].copy()
#Filerting out every fourth row, starting with the first
df_total_2015 = df_total_2015.iloc[::4, :]
#Renaming Columns
df_total_2015.columns = [['Gemeinde', 'Geschlecht', 'Frauen - Total']]

In [491]:
#Creating DF for ledig
df_alle_2015 = df[['Kanton (-) / Bezirk (>>) / Gemeinde (......)', 'Geschlecht', 'Zivilstand', 'Altersklasse - Total']].copy()

In [492]:
#Slicing all of the relevant rows
df_ledig_2015 = df_alle_2015.iloc[1::4, :]
df_verwitwet_2015 = df_alle_2015.iloc[2::4, :]
df_geschieden_2015 = df_alle_2015.iloc[3::4, :]

In [493]:
#Merging for full count of singles incl. verwitwet & geschieden
df_ledig_2015 = df_ledig_2015.merge(df_verwitwet_2015, left_on='Kanton (-) / Bezirk (>>) / Gemeinde (......)', right_on='Kanton (-) / Bezirk (>>) / Gemeinde (......)')
df_ledig_2015 = df_ledig_2015.merge(df_geschieden_2015, left_on='Kanton (-) / Bezirk (>>) / Gemeinde (......)', right_on='Kanton (-) / Bezirk (>>) / Gemeinde (......)')

In [494]:
del df_ledig_2015['Geschlecht_x']
del df_ledig_2015['Zivilstand_x']
del df_ledig_2015['Geschlecht_y']
del df_ledig_2015['Zivilstand_y']
del df_ledig_2015['Geschlecht']
del df_ledig_2015['Zivilstand']

In [495]:
df_ledig_2015.columns = [['Gemeinde', 'Ledig', 'Verwitwet', 'Geschieden']]

In [496]:
df_ledig_2015['Total ledige Frauen ab 20'] = df_ledig_2015.sum(axis=1)

In [497]:
df_ledig_2015.head()

,Gemeinde,Ledig,Verwitwet,Geschieden,Total ledige Frauen ab 20
0,......0001 Aeugst am Albis,402,59,89,550
1,......0002 Affoltern am Albis,2279,437,614,3330
2,......0003 Bonstetten,1140,128,220,1488
3,......0004 Hausen am Albis,703,111,183,997
4,......0005 Hedingen,735,77,168,980

In [498]:
df_total_2015.head()

                         Gemeinde Geschlecht  Frauen - Total
0      ......0001 Aeugst am Albis       Frau             994
4   ......0002 Affoltern am Albis       Frau            5890
8           ......0003 Bonstetten       Frau            2712
12     ......0004 Hausen am Albis       Frau            1790
16            ......0005 Hedingen       Frau            1816

In [499]:
df_total_2015 = df_total_2015.merge(df_ledig_2015, left_on='Gemeinde', right_on='Gemeinde')

In [500]:
del df_total_2015['Ledig']
del df_total_2015['Verwitwet']
del df_total_2015['Geschieden']

In [501]:
df_total_2015['Anteil ledige Frauen'] = round(df_total_2015['Total ledige Frauen ab 20'] / df_total_2015['Frauen - Total'] * 100, 1)

# Anteil ledige Frauen nach Gemeinde

In [502]:
df_total_2015.sort_values(by='Anteil ledige Frauen', ascending = False).head()

,Gemeinde,Geschlecht,Frauen - Total,Total ledige Frauen ab 20,Anteil ledige Frauen
1633,......5102 Corippo,Frau,6,5,83.3
1739,......5407 Leysin,Frau,2217,1682,75.9
1726,......5307 Campo (Vallemaggia),Frau,23,17,73.9
199,......0708 Schelten,Frau,19,14,73.7
2155,......6244 Randogne,Frau,2276,1572,69.1

# Now the age categories

In [505]:
#Slicing
df_all = df.iloc[::4, :]
df_ledig_all = df.iloc[1::4, :]
df_verwitwet_all = df.iloc[2::4, :]
df_geschieden_all = df.iloc[3::4, :]

In [503]:
#Creating a list with the columns
alter_list = list(df_all.columns)

In [504]:
alter_list = alter_list[6:]

In [506]:
for alter in alter_list:
    zero = df_all[['Kanton (-) / Bezirk (>>) / Gemeinde (......)', 'Altersklasse - Total']].copy()
    zero.columns = [['Gemeinde', 'Frauen Total']]
    one = df_ledig_all[['Kanton (-) / Bezirk (>>) / Gemeinde (......)', alter]].copy()
    one.columns = [['Gemeinde', alter]]
    two = df_verwitwet_all[['Kanton (-) / Bezirk (>>) / Gemeinde (......)', alter]].copy()
    two.columns = [['Gemeinde', alter]]
    three = df_geschieden_all[['Kanton (-) / Bezirk (>>) / Gemeinde (......)', alter]].copy()
    three.columns = [['Gemeinde', alter]]
    
    zero = zero.merge(one, left_on='Gemeinde', right_on='Gemeinde')
    zero = zero.merge(two, left_on='Gemeinde', right_on='Gemeinde')
    zero = zero.merge(three, left_on='Gemeinde', right_on='Gemeinde')
    zero['Ledige' + alter + 'Frauen Total'] = zero.sum(axis=1) - zero['Frauen Total']
    zero['Anteil' + alter] = round(zero['Ledige' + alter + 'Frauen Total'] / zero['Frauen Total'] * 100, 1)
    
    del zero['Frauen Total']
    del zero[ alter +'_x']
    del zero[ alter +'_y']
    del zero[ alter ]
    
    df_total_2015 = df_total_2015.merge(zero, left_on='Gemeinde', right_on='Gemeinde')

In [507]:
df_total_2015.sort_values(by='Ledige20-24 JahreFrauen Total', ascending=False).head(3)

,Gemeinde,Geschlecht,Frauen - Total,Total ledige Frauen ab 20,Anteil ledige Frauen,Ledige20-24 JahreFrauen Total,Anteil20-24 Jahre,Ledige25-29 JahreFrauen Total,Anteil25-29 Jahre,Ledige30-34 JahreFrauen Total,...,Ledige80-84 JahreFrauen Total,Anteil80-84 Jahre,Ledige85-89 JahreFrauen Total,Anteil85-89 Jahre,Ledige90-94 JahreFrauen Total,Anteil90-94 Jahre,Ledige95-99 JahreFrauen Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrFrauen Total,Anteil100 Jahre und mehr
168,......0261 Zürich,Frau,199714,134490,67.3,8503,4.3,15276,7.6,14232,...,4453,2.2,4158,2.1,2292,1.1,584,0.3,97,0.0
2242,......6621 Genève,Frau,102926,67625,65.7,5617,5.5,6691,6.5,5635,...,2090,2.0,1860,1.8,1151,1.1,299,0.3,58,0.1
1900,......5586 Lausanne,Frau,70394,47471,67.4,4221,6.0,5206,7.4,4110,...,1494,2.1,1307,1.9,758,1.1,189,0.3,30,0.0

In [508]:
df_total_2015.sort_values(by='Anteil ledige Frauen', ascending=False).head(3)

,Gemeinde,Geschlecht,Frauen - Total,Total ledige Frauen ab 20,Anteil ledige Frauen,Ledige20-24 JahreFrauen Total,Anteil20-24 Jahre,Ledige25-29 JahreFrauen Total,Anteil25-29 Jahre,Ledige30-34 JahreFrauen Total,...,Ledige80-84 JahreFrauen Total,Anteil80-84 Jahre,Ledige85-89 JahreFrauen Total,Anteil85-89 Jahre,Ledige90-94 JahreFrauen Total,Anteil90-94 Jahre,Ledige95-99 JahreFrauen Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrFrauen Total,Anteil100 Jahre und mehr
1633,......5102 Corippo,Frau,6,5,83.3,0,0.0,0,0.0,0,...,2,33.3,1,16.7,0,0.0,0,0.0,0,0.0
1739,......5407 Leysin,Frau,2217,1682,75.9,603,27.2,111,5.0,78,...,26,1.2,11,0.5,10,0.5,2,0.1,0,0.0
1726,......5307 Campo (Vallemaggia),Frau,23,17,73.9,0,0.0,2,8.7,1,...,0,0.0,2,8.7,2,8.7,0,0.0,0,0.0

In [509]:
df_total_2015.sort_values(by='Anteil20-24 Jahre', ascending=False).head(3)

,Gemeinde,Geschlecht,Frauen - Total,Total ledige Frauen ab 20,Anteil ledige Frauen,Ledige20-24 JahreFrauen Total,Anteil20-24 Jahre,Ledige25-29 JahreFrauen Total,Anteil25-29 Jahre,Ledige30-34 JahreFrauen Total,...,Ledige80-84 JahreFrauen Total,Anteil80-84 Jahre,Ledige85-89 JahreFrauen Total,Anteil85-89 Jahre,Ledige90-94 JahreFrauen Total,Anteil90-94 Jahre,Ledige95-99 JahreFrauen Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrFrauen Total,Anteil100 Jahre und mehr
1739,......5407 Leysin,Frau,2217,1682,75.9,603,27.2,111,5.0,78,...,26,1.2,11,0.5,10,0.5,2,0.1,0,0.0
2155,......6244 Randogne,Frau,2276,1572,69.1,610,26.8,92,4.0,42,...,28,1.2,26,1.1,16,0.7,5,0.2,0,0.0
1699,......5225 Sorengo,Frau,1115,768,68.9,235,21.1,43,3.9,28,...,12,1.1,14,1.3,11,1.0,4,0.4,1,0.1

In [510]:
df_total_2015[df_total_2015['Frauen - Total'] > 100].sort_values(by='Anteil25-29 Jahre', ascending=False).head(3)

,Gemeinde,Geschlecht,Frauen - Total,Total ledige Frauen ab 20,Anteil ledige Frauen,Ledige20-24 JahreFrauen Total,Anteil20-24 Jahre,Ledige25-29 JahreFrauen Total,Anteil25-29 Jahre,Ledige30-34 JahreFrauen Total,...,Ledige80-84 JahreFrauen Total,Anteil80-84 Jahre,Ledige85-89 JahreFrauen Total,Anteil85-89 Jahre,Ledige90-94 JahreFrauen Total,Anteil90-94 Jahre,Ledige95-99 JahreFrauen Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrFrauen Total,Anteil100 Jahre und mehr
1939,......5479 Cuarnens,Frau,209,112,53.6,9,4.3,20,9.6,3,...,4,1.9,3,1.4,3,1.4,1,0.5,0,0.0
690,......2004 Bussy (FR),Frau,241,143,59.3,15,6.2,23,9.5,12,...,2,0.8,5,2.1,0,0.0,1,0.4,0,0.0
624,......1217 Sisikon,Frau,173,100,57.8,5,2.9,16,9.2,7,...,4,2.3,5,2.9,0,0.0,0,0.0,0,0.0

In [511]:
df_total_2015[df_total_2015['Frauen - Total'] > 100].sort_values(by='Anteil30-34 Jahre', ascending=False).head(3)

,Gemeinde,Geschlecht,Frauen - Total,Total ledige Frauen ab 20,Anteil ledige Frauen,Ledige20-24 JahreFrauen Total,Anteil20-24 Jahre,Ledige25-29 JahreFrauen Total,Anteil25-29 Jahre,Ledige30-34 JahreFrauen Total,...,Ledige80-84 JahreFrauen Total,Anteil80-84 Jahre,Ledige85-89 JahreFrauen Total,Anteil85-89 Jahre,Ledige90-94 JahreFrauen Total,Anteil90-94 Jahre,Ledige95-99 JahreFrauen Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrFrauen Total,Anteil100 Jahre und mehr
1187,......3532 Cunter,Frau,118,60,50.8,4,3.4,5,4.2,9,...,2,1.7,1,0.8,0,0.0,0,0.0,0,0.0
937,......2574 Eppenberg-Wöschnau,Frau,156,93,59.6,13,8.3,14,9.0,11,...,1,0.6,5,3.2,1,0.6,0,0.0,0,0.0
168,......0261 Zürich,Frau,199714,134490,67.3,8503,4.3,15276,7.6,14232,...,4453,2.2,4158,2.1,2292,1.1,584,0.3,97,0.0

In [512]:
df_total_2015[df_total_2015['Frauen - Total'] > 200].sort_values(by='Anteil35-39 Jahre', ascending=False).head(3)

,Gemeinde,Geschlecht,Frauen - Total,Total ledige Frauen ab 20,Anteil ledige Frauen,Ledige20-24 JahreFrauen Total,Anteil20-24 Jahre,Ledige25-29 JahreFrauen Total,Anteil25-29 Jahre,Ledige30-34 JahreFrauen Total,...,Ledige80-84 JahreFrauen Total,Anteil80-84 Jahre,Ledige85-89 JahreFrauen Total,Anteil85-89 Jahre,Ledige90-94 JahreFrauen Total,Anteil90-94 Jahre,Ledige95-99 JahreFrauen Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrFrauen Total,Anteil100 Jahre und mehr
1858,......5761 Romainmôtier-Envy,Frau,268,163,60.8,10,3.7,15,5.6,9,...,4,1.5,2,0.7,2,0.7,2,0.7,0,0.0
168,......0261 Zürich,Frau,199714,134490,67.3,8503,4.3,15276,7.6,14232,...,4453,2.2,4158,2.1,2292,1.1,584,0.3,97,0.0
773,......2185 Corserey,Frau,212,123,58.0,13,6.1,7,3.3,7,...,3,1.4,4,1.9,1,0.5,0,0.0,0,0.0

In [513]:
df_total_2015[df_total_2015['Frauen - Total'] > 200].sort_values(by='Anteil40-44 Jahre', ascending=False).head(3)

,Gemeinde,Geschlecht,Frauen - Total,Total ledige Frauen ab 20,Anteil ledige Frauen,Ledige20-24 JahreFrauen Total,Anteil20-24 Jahre,Ledige25-29 JahreFrauen Total,Anteil25-29 Jahre,Ledige30-34 JahreFrauen Total,...,Ledige80-84 JahreFrauen Total,Anteil80-84 Jahre,Ledige85-89 JahreFrauen Total,Anteil85-89 Jahre,Ledige90-94 JahreFrauen Total,Anteil90-94 Jahre,Ledige95-99 JahreFrauen Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrFrauen Total,Anteil100 Jahre und mehr
1397,......4138 Leutwil,Frau,375,211,56.3,23,6.1,7,1.9,8,...,10,2.7,2,0.5,3,0.8,0,0.0,0,0.0
2258,......6637 Russin,Frau,253,142,56.1,11,4.3,9,3.6,11,...,1,0.4,0,0.0,0,0.0,0,0.0,0,0.0
1663,......5154 Bissone,Frau,439,266,60.6,21,4.8,12,2.7,13,...,6,1.4,9,2.1,6,1.4,0,0.0,0,0.0

In [514]:
df_total_2015[df_total_2015['Frauen - Total'] > 200].sort_values(by='Anteil45-49 Jahre', ascending=False).head(3)

,Gemeinde,Geschlecht,Frauen - Total,Total ledige Frauen ab 20,Anteil ledige Frauen,Ledige20-24 JahreFrauen Total,Anteil20-24 Jahre,Ledige25-29 JahreFrauen Total,Anteil25-29 Jahre,Ledige30-34 JahreFrauen Total,...,Ledige80-84 JahreFrauen Total,Anteil80-84 Jahre,Ledige85-89 JahreFrauen Total,Anteil85-89 Jahre,Ledige90-94 JahreFrauen Total,Anteil90-94 Jahre,Ledige95-99 JahreFrauen Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrFrauen Total,Anteil100 Jahre und mehr
500,......0574 Brienzwiler,Frau,237,130,54.9,6,2.5,6,2.5,5,...,10,4.2,4,1.7,3,1.3,2,0.8,0,0.0
1074,......2972 Oberhallau,Frau,210,104,49.5,8,3.8,7,3.3,4,...,2,1.0,4,1.9,1,0.5,0,0.0,1,0.5
560,......1084 Eich,Frau,840,476,56.7,47,5.6,38,4.5,22,...,12,1.4,4,0.5,0,0.0,0,0.0,0,0.0

In [515]:
df_total_2015[df_total_2015['Frauen - Total'] > 200].sort_values(by='Anteil50-54 Jahre', ascending=False).head(3)

,Gemeinde,Geschlecht,Frauen - Total,Total ledige Frauen ab 20,Anteil ledige Frauen,Ledige20-24 JahreFrauen Total,Anteil20-24 Jahre,Ledige25-29 JahreFrauen Total,Anteil25-29 Jahre,Ledige30-34 JahreFrauen Total,...,Ledige80-84 JahreFrauen Total,Anteil80-84 Jahre,Ledige85-89 JahreFrauen Total,Anteil85-89 Jahre,Ledige90-94 JahreFrauen Total,Anteil90-94 Jahre,Ledige95-99 JahreFrauen Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrFrauen Total,Anteil100 Jahre und mehr
1381,......4113 Scherz,Frau,320,170,53.1,21,6.6,7,2.2,3,...,1,0.3,5,1.6,1,0.3,0,0.0,0,0.0
1693,......5213 Ponte Tresa,Frau,414,259,62.6,33,8.0,14,3.4,9,...,12,2.9,13,3.1,7,1.7,0,0.0,1,0.2
74,......0095 Regensberg,Frau,228,121,53.1,5,2.2,3,1.3,6,...,4,1.8,5,2.2,0,0.0,0,0.0,0,0.0

In [516]:
df_total_2015[df_total_2015['Frauen - Total'] > 200].sort_values(by='Anteil55-59 Jahre', ascending=False).head(3)

,Gemeinde,Geschlecht,Frauen - Total,Total ledige Frauen ab 20,Anteil ledige Frauen,Ledige20-24 JahreFrauen Total,Anteil20-24 Jahre,Ledige25-29 JahreFrauen Total,Anteil25-29 Jahre,Ledige30-34 JahreFrauen Total,...,Ledige80-84 JahreFrauen Total,Anteil80-84 Jahre,Ledige85-89 JahreFrauen Total,Anteil85-89 Jahre,Ledige90-94 JahreFrauen Total,Anteil90-94 Jahre,Ledige95-99 JahreFrauen Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrFrauen Total,Anteil100 Jahre und mehr
74,......0095 Regensberg,Frau,228,121,53.1,5,2.2,3,1.3,6,...,4,1.8,5,2.2,0,0.0,0,0.0,0,0.0
947,......2585 Walterswil (SO),Frau,337,178,52.8,9,2.7,8,2.4,6,...,5,1.5,3,0.9,1,0.3,1,0.3,0,0.0
1773,......5803 Vulliens,Frau,229,139,60.7,17,7.4,9,3.9,5,...,6,2.6,4,1.7,2,0.9,0,0.0,0,0.0

In [517]:
df_total_2015[df_total_2015['Frauen - Total'] > 200].sort_values(by='Anteil60-64 Jahre', ascending=False).head(3)

,Gemeinde,Geschlecht,Frauen - Total,Total ledige Frauen ab 20,Anteil ledige Frauen,Ledige20-24 JahreFrauen Total,Anteil20-24 Jahre,Ledige25-29 JahreFrauen Total,Anteil25-29 Jahre,Ledige30-34 JahreFrauen Total,...,Ledige80-84 JahreFrauen Total,Anteil80-84 Jahre,Ledige85-89 JahreFrauen Total,Anteil85-89 Jahre,Ledige90-94 JahreFrauen Total,Anteil90-94 Jahre,Ledige95-99 JahreFrauen Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrFrauen Total,Anteil100 Jahre und mehr
514,......0589 Oberried am Brienzersee,Frau,225,131,58.2,9,4.0,9,4.0,8,...,6,2.7,4,1.8,3,1.3,0,0.0,0,0.0
2305,......6775 Bonfol,Frau,351,206,58.7,14,4.0,12,3.4,4,...,11,3.1,12,3.4,6,1.7,1,0.3,0,0.0
57,......0070 Wasterkingen,Frau,289,148,51.2,14,4.8,5,1.7,6,...,5,1.7,3,1.0,2,0.7,0,0.0,0,0.0

In [518]:
df_total_2015[df_total_2015['Frauen - Total'] > 200].sort_values(by='Anteil65-69 Jahre', ascending=False).head(3)

,Gemeinde,Geschlecht,Frauen - Total,Total ledige Frauen ab 20,Anteil ledige Frauen,Ledige20-24 JahreFrauen Total,Anteil20-24 Jahre,Ledige25-29 JahreFrauen Total,Anteil25-29 Jahre,Ledige30-34 JahreFrauen Total,...,Ledige80-84 JahreFrauen Total,Anteil80-84 Jahre,Ledige85-89 JahreFrauen Total,Anteil85-89 Jahre,Ledige90-94 JahreFrauen Total,Anteil90-94 Jahre,Ledige95-99 JahreFrauen Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrFrauen Total,Anteil100 Jahre und mehr
622,......1215 Seelisberg,Frau,349,198,56.7,7,2.0,9,2.6,2,...,9,2.6,4,1.1,2,0.6,0,0.0,0,0.0
2087,......6090 Mont-Noble,Frau,546,313,57.3,9,1.6,16,2.9,23,...,21,3.8,12,2.2,5,0.9,0,0.0,0,0.0
2040,......5843 Rougemont,Frau,451,256,56.8,16,3.5,14,3.1,10,...,17,3.8,7,1.6,5,1.1,2,0.4,0,0.0

In [519]:
df_total_2015[df_total_2015['Frauen - Total'] > 200].sort_values(by='Anteil70-74 Jahre', ascending=False).head(3)

,Gemeinde,Geschlecht,Frauen - Total,Total ledige Frauen ab 20,Anteil ledige Frauen,Ledige20-24 JahreFrauen Total,Anteil20-24 Jahre,Ledige25-29 JahreFrauen Total,Anteil25-29 Jahre,Ledige30-34 JahreFrauen Total,...,Ledige80-84 JahreFrauen Total,Anteil80-84 Jahre,Ledige85-89 JahreFrauen Total,Anteil85-89 Jahre,Ledige90-94 JahreFrauen Total,Anteil90-94 Jahre,Ledige95-99 JahreFrauen Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrFrauen Total,Anteil100 Jahre und mehr
616,......1209 Gurtnellen,Frau,277,150,54.2,15,5.4,8,2.9,5,...,7,2.5,5,1.8,4,1.4,0,0.0,0,0.0
1632,......5097 Brissago,Frau,890,463,52.0,33,3.7,25,2.8,13,...,26,2.9,19,2.1,19,2.1,3,0.3,1,0.1
2096,......6116 Varen,Frau,299,155,51.8,14,4.7,8,2.7,6,...,10,3.3,4,1.3,1,0.3,1,0.3,0,0.0

In [520]:
df_total_2015[df_total_2015['Frauen - Total'] > 200].sort_values(by='Anteil75-79 Jahre', ascending=False).head(3)

,Gemeinde,Geschlecht,Frauen - Total,Total ledige Frauen ab 20,Anteil ledige Frauen,Ledige20-24 JahreFrauen Total,Anteil20-24 Jahre,Ledige25-29 JahreFrauen Total,Anteil25-29 Jahre,Ledige30-34 JahreFrauen Total,...,Ledige80-84 JahreFrauen Total,Anteil80-84 Jahre,Ledige85-89 JahreFrauen Total,Anteil85-89 Jahre,Ledige90-94 JahreFrauen Total,Anteil90-94 Jahre,Ledige95-99 JahreFrauen Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrFrauen Total,Anteil100 Jahre und mehr
1623,......5073 Giornico,Frau,428,235,54.9,12,2.8,10,2.3,9,...,18,4.2,16,3.7,4,0.9,1,0.2,1,0.2
2103,......6134 Isérables,Frau,439,250,56.9,26,5.9,15,3.4,7,...,15,3.4,12,2.7,6,1.4,4,0.9,0,0.0
1631,......5096 Brione sopra Minusio,Frau,251,137,54.6,8,3.2,8,3.2,7,...,10,4.0,4,1.6,8,3.2,1,0.4,0,0.0

In [521]:
df_total_2015[df_total_2015['Frauen - Total'] > 200].sort_values(by='Anteil80-84 Jahre', ascending=False).head(3)

,Gemeinde,Geschlecht,Frauen - Total,Total ledige Frauen ab 20,Anteil ledige Frauen,Ledige20-24 JahreFrauen Total,Anteil20-24 Jahre,Ledige25-29 JahreFrauen Total,Anteil25-29 Jahre,Ledige30-34 JahreFrauen Total,...,Ledige80-84 JahreFrauen Total,Anteil80-84 Jahre,Ledige85-89 JahreFrauen Total,Anteil85-89 Jahre,Ledige90-94 JahreFrauen Total,Anteil90-94 Jahre,Ledige95-99 JahreFrauen Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrFrauen Total,Anteil100 Jahre und mehr
627,......1220 Wassen,Frau,205,111,54.1,8,3.9,5,2.4,1,...,11,5.4,9,4.4,4,2.0,0,0.0,0,0.0
2219,......6504 La Côte-aux-Fées,Frau,233,135,57.9,8,3.4,5,2.1,4,...,12,5.2,3,1.3,5,2.1,3,1.3,1,0.4
1302,......3985 Sumvitg,Frau,618,324,52.4,46,7.4,14,2.3,9,...,32,5.2,17,2.8,8,1.3,2,0.3,0,0.0

In [522]:
df_total_2015[df_total_2015['Frauen - Total'] > 200].sort_values(by='Anteil85-89 Jahre', ascending=False).head(3)

,Gemeinde,Geschlecht,Frauen - Total,Total ledige Frauen ab 20,Anteil ledige Frauen,Ledige20-24 JahreFrauen Total,Anteil20-24 Jahre,Ledige25-29 JahreFrauen Total,Anteil25-29 Jahre,Ledige30-34 JahreFrauen Total,...,Ledige80-84 JahreFrauen Total,Anteil80-84 Jahre,Ledige85-89 JahreFrauen Total,Anteil85-89 Jahre,Ledige90-94 JahreFrauen Total,Anteil90-94 Jahre,Ledige95-99 JahreFrauen Total,Anteil95-99 Jahre,Ledige100 Jahre und mehrFrauen Total,Anteil100 Jahre und mehr
2079,......6075 Reckingen-Gluringen,Frau,227,125,55.1,15,6.6,9,4.0,6,...,8,3.5,13,5.7,6,2.6,0,0.0,0,0.0
1731,......5323 Lavizzara,Frau,258,153,59.3,18,7.0,7,2.7,8,...,9,3.5,14,5.4,7,2.7,1,0.4,1,0.4
627,......1220 Wassen,Frau,205,111,54.1,8,3.9,5,2.4,1,...,11,5.4,9,4.4,4,2.0,0,0.0,0,0.0

In [523]:
df_total_2015.to_csv('ledige_frauen_2015.csv')