In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
import dateutil.parser

# Wo leben am meisten überschüssige Ledige?

In [26]:
df_m = pd.read_csv('data/ledige_männer_2015.csv')
df_w = pd.read_csv('data/ledige_frauen_2015.csv')

In [27]:
df = df_w.merge(df_m, left_on='Gemeinde', right_on='Gemeinde')

# Total

In [29]:
df['Ledige Männer Total +/-'] = df['Total ledige Männer ab 20'] - df['Total ledige Frauen ab 20']

In [30]:
df[['Gemeinde', 'Ledige Männer Total +/-']].sort_values(by='Ledige Männer Total +/-', ascending=False).head()

                  Gemeinde  Ledige Männer Total +/-
631  ......1322 Freienbach                      627
53      ......0066 Opfikon                      507
630  ......1321 Feusisberg                      326
685       ......1707 Risch                      324
632    ......1323 Wollerau                      279

In [31]:
df['Ledige Frauen Total +/-'] = df['Total ledige Frauen ab 20'] - df['Total ledige Männer ab 20']

In [32]:
df[['Gemeinde', 'Ledige Frauen Total +/-']].sort_values(by='Ledige Frauen Total +/-', ascending=False).head()

                 Gemeinde  Ledige Frauen Total +/-
2242    ......6621 Genève                     9576
962      ......2701 Basel                     6766
168     ......0261 Zürich                     6127
361       ......0351 Bern                     5998
1900  ......5586 Lausanne                     5804

# 20-24

## Frauen

In [33]:
df['Ledige20-24 JahreFrauen Total +/-'] = df['Ledige20-24 JahreFrauen Total'] - df['Ledige20-24 JahreMänner Total']
df[['Gemeinde', 'Ledige20-24 JahreFrauen Total +/-']].sort_values(by='Ledige20-24 JahreFrauen Total +/-', ascending=False).head()

                 Gemeinde  Ledige20-24 JahreFrauen Total +/-
1739    ......5407 Leysin                                301
361       ......0351 Bern                                283
2242    ......6621 Genève                                276
1699   ......5225 Sorengo                                127
2046  ......5886 Montreux                                106

## Männer

In [35]:
df['Ledige20-24 JahreMänner Total +/-'] = df['Ledige20-24 JahreMänner Total'] - df['Ledige20-24 JahreFrauen Total']
df[['Gemeinde', 'Ledige20-24 JahreMänner Total +/-']].sort_values(by='Ledige20-24 JahreMänner Total +/-', ascending=False).head()

                   Gemeinde  Ledige20-24 JahreMänner Total +/-
168       ......0261 Zürich                               1055
1105  ......3203 St. Gallen                                367
1900    ......5586 Lausanne                                228
962        ......2701 Basel                                204
159     ......0243 Dietikon                                182

# 40 - 44

## Frauen

In [37]:
df['Ledige40-44 JahreFrauen Total +/-'] = df['Ledige40-44 JahreFrauen Total'] - df['Ledige40-44 JahreMänner Total']
df[['Gemeinde', 'Ledige40-44 JahreFrauen Total +/-']].sort_values(by='Ledige40-44 JahreFrauen Total +/-', ascending=False).head()

                         Gemeinde  Ledige40-44 JahreFrauen Total +/-
2048  ......5889 La Tour-de-Peilz                                 67
2249             ......6628 Lancy                                 58
1905             ......5590 Pully                                 46
113     ......0159 Uetikon am See                                 34
967          ......2763 Arlesheim                                 33

## Männer

In [38]:
df['Ledige40-44 JahreMänner Total +/-'] = df['Ledige40-44 JahreMänner Total'] - df['Ledige40-44 JahreFrauen Total']
df[['Gemeinde', 'Ledige40-44 JahreMänner Total +/-']].sort_values(by='Ledige40-44 JahreMänner Total +/-', ascending=False).head()

                    Gemeinde  Ledige40-44 JahreMänner Total +/-
168        ......0261 Zürich                               1473
361          ......0351 Bern                                314
962         ......2701 Basel                                237
1900     ......5586 Lausanne                                221
209   ......0371 Biel/Bienne                                150

# 60 - 64

## Frauen

In [39]:
df['Ledige60-64 JahreFrauen Total +/-'] = df['Ledige60-64 JahreFrauen Total'] - df['Ledige60-64 JahreMänner Total']
df[['Gemeinde', 'Ledige60-64 JahreFrauen Total +/-']].sort_values(by='Ledige60-64 JahreFrauen Total +/-', ascending=False).head()

                 Gemeinde  Ledige60-64 JahreFrauen Total +/-
168     ......0261 Zürich                               1420
2242    ......6621 Genève                               1023
1900  ......5586 Lausanne                                633
361       ......0351 Bern                                612
962      ......2701 Basel                                467

## Männer

In [40]:
df['Ledige60-64 JahreMänner Total +/-'] = df['Ledige60-64 JahreMänner Total'] - df['Ledige60-64 JahreFrauen Total']
df[['Gemeinde', 'Ledige60-64 JahreMänner Total +/-']].sort_values(by='Ledige60-64 JahreMänner Total +/-', ascending=False).head()

                   Gemeinde  Ledige60-64 JahreMänner Total +/-
677   ......1631 Glarus Süd                                 25
2206    ......6436 Le Locle                                 24
1271       ......3921 Arosa                                 22
1864    ......5871 L'Abbaye                                 20
630   ......1321 Feusisberg                                 19

# Datensammlung mit allen Überschüssen M/W pro Alterskategorie